<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">

        <title>Zajęcia laboratoryjne z programowania zwinnego</title>
    
        <!--responsywność-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </div>
</head>


<body>
<div th:fragment="body">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
    
            <a class="navbar-brand" th:href="@{/}">Programowanie zwinne</a>
            <button class="navbar-toggler" type="button" > data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" th:href="@{/addProject}">Dodaj projekt</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listProject}">Lista projektów</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</div>
</body>

</html>